.pages-container{
    position: relative;
}

.ps{
    height: 100vh ;
    width: 100%;
    padding: 80px 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.ps:nth-child(1){
    background: linear-gradient(217deg, #D95995, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #D0ECF2, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #F2CB05, rgba(0,0,255,0) 70.71%), url("../img/p1.jpeg");
    /* background-image: url("../img/sky.jpeg"); */
    background-size: cover;
    background-position: center;
}
/* .ps:nth-child(2){
    margin-top: calc(100vh - 160px) ;
    position: relative;
    z-index: 10;
} */

/* SEPARATE COMPONENTS */
.main-container{
    scroll-snap-type: y mandatory;
}
.snap_element{
    scroll-snap-stop: always;
}
.hero-container{
    height: 100vh;
    background: linear-gradient(217deg, #D95995, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #D0ECF2, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #F2CB05, rgba(0,0,255,0) 70.71%);
    position: fixed;
    /* z-index: -1; */
    padding-top: 50px;
}
.transparent-section{
    height: 100vh;
}
.section-content{
    padding: 70px;
}

.about-section{
    position: relative;
    background-color: green;
    height: 100vh ;
    z-index: 1;
}
.projects-section{
    position: relative;
    height: 100vh;
    background-color: yellow;
    z-index: 2;
    padding-top: 50px;
}

.contact-section{
    position: relative;
    height: 100vh;
    background-color: orange;
    z-index: 3;
    padding-top: 50px;
}
